<nav class="navbar navbar-expand-sm  navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/home">ICIN Bank</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample04">
    <ul class="navbar-nav mr-auto">
      

      <li class="nav-item">
        <a class="nav-link" routerLink="/transactionHistory">Transaction History<span class="sr-only"></span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/transferHistory">Transfer History<span class="sr-only"></span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/transfer">Transfer Money<span class="sr-only"></span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/chequebookRequest">Request Checkbook<span class="sr-only"></span></a>
      </li>

      <li class="nav-item dropdown" >
        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User Session</a>
        <div class="dropdown-menu"  aria-labelledby="dropdown04">
          <a class="dropdown-item" routerLink="/editProfile" >Change Profile Settings</a>
          <a class="dropdown-item" routerLink="/login">Logout</a>
        </div>
      </li>
    </ul>
    
  </div>
</nav>
<body class="landing" style="background-image:url('background.jpg');">
  <div class="infobox" style="text-align: center;">
  <br>
  <h2>Welcome to ICIN Bank </h2>
  <br>
  <h5>We offer you actions like Transfer of money, Checkbook request, Deposit, Withdraw</h5>
  <br>
  <h4>Happy Banking !!!</h4>
  <br><br>
  
  <table class="center">
  
      <tr>
          <td><h4>Your Savings Account number: </h4></td>
          <td><h4>{{savingAcc}}</h4></td>
      </tr>
      <tr>
        <td><h4>Your Savings Account balance : </h4></td>
        <td><h4>{{savingBalanceLocal}}</h4></td>
    </tr>
  
  </table>
  </div>
</body>
  











<!-- <h3>Select the operation to be performed:</h3>
Deposit:<input type="checkbox" ng-model="depositClicked">
Withdraw:<input type="checkbox" ng-model="withdrawClicked"> -->

  <!-- <label>The account where you need to deposit: </label> 
<br>
    <select id="dropDownAccountType" required>
    <option value="Primary">Primary</option>
    <option value="Secondary">Secondary</option>
    </select> -->

<!-- <table class="center" style="text-indent: 1cm; margin-right: auto; margin-left: auto;">
  <tr>
    <td><button class="btn btn-info"><a routerLink="deposit">Deposit</a></button></td>
    <td><button class="btn btn-info"><a routerLink="withdraw">Withdraw</a></button></td>
  </tr>
</table> -->


  <!-- <label>The account from where you need to withdraw: </label> 
<br>
    <select id="dropDownAccountType" required>
    <option value="Primary">Primary</option>
    <option value="Secondary">Secondary</option>
    </select> 
  //(click)={onWithdraw}
  -->

    



<!-- 
<a href="\src\deposit.html">Deposit Money</a>   
<br>
<br>
<a href="\src\withdraw.html">Withdraw Money</a> -->


<!--Admin Login
<button (onclick)="adminLogin()">Admin Test</button>-->
<div>
  <router-outlet></router-outlet>
</div>

